.game-field {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.grid-cell {
  border: 3px solid grey;
  position: relative;
}

.grid-cell::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.grid-cell > .value {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
