.container-fluid {
  padding-top: 15px;
}

.grid-row > .cell {
  position: relative;
  width: 25%;
  padding: 0;
}

.grid-row > .cell::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.cell-content {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 3;
}
