@import "~normalize.css/normalize";

body {
  background-color: #fff3f7;
}

$grid-border-color: grey;
$cell-size: 60px;
$cell-margin: 6px;

$grid-size: 4 * $cell-size + 8 * $cell-margin;

.game-field {
  padding-top: 15px;
  margin: 0 auto;
  width: $grid-size;
}

.game-header {
  > .score {
    margin: 0;
  }
}

.game-grid {
  background-color: $grid-border-color;
  border-radius: $cell-margin * 2;
  height: $grid-size;
  padding: $cell-margin;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  position: relative;
}

.grid-row {
  height: $cell-size;
  display: flex;
  justify-content: space-around;
}

.grid-cell {
  display: inline-flex;
  width: $cell-size;
  height: $cell-size;
  border-radius: $cell-margin;
  background-color: lightgrey;
  z-index: 1;

  &.-cell-2 { background-color: #ffe400; }
  &.-cell-4 { background-color: #ffcc40; }
  &.-cell-8 { background-color: #ffbb01; }
  &.-cell-16 { background-color: #ffb100; }
  &.-cell-32 { background-color: #ff9b40; }
  &.-cell-64 { background-color: #ff7f00; }
  &.-cell-128 { background-color: #ff5640; }
  &.-cell-256 { background-color: #ff1300; }
  &.-cell-512 { background-color: #d2006b; }
  &.-cell-1024 { background-color: #bf9430; }
  &.-cell-2048 { background-color: #bf7530; }
  &.-cell-4096 { background-color: #a69400; }
  &.-cell-8192 { background-color: #a65b00; }
  &.-cell-16384 { background-color: #a61300; }
  &.-cell-32768 { background-color: #880045; }

  &.-tile {
    position: absolute;
    z-index: 2;
  }

  &.-hidden {
    display: none;
  }

  > .value {
    font-size: 30px;
    margin: auto;
  }
}
